<div class="container" style="padding-top: 165px;">

<a href = "/">Back To All Ideas</a>
<h1><%= @idea.title %></h1>
<p><%= @idea.content %></p>

<% if current_user.idea_votes.find_by(idea_id: @idea.id) %>
	Already voted
<% else %>
	<form action = "/ideas/<%= @idea.id %>/likes?like=true" method = "post">
		<input type = "submit" value = "Like">
	</form><br/>

	<form action = "/ideas/<%= @idea.id %>/likes?like=false" method = "post">
		<input type = "submit" value = "Dislike">
	</form>
<% end %>
</div>

