<div class="container" style="padding-top: 130px;">

<form method="post" action="/signup">

  <div class="input-group">
    <span class="input-group-addon">Username</span>
    <input type="text" class="form-control" name="username">
  </div><br/>

  <div class="input-group">
    <span class="input-group-addon">Email</span>
    <input type="text" class="form-control" name="email">
  </div><br/>

  <div class="input-group">
    <span class="input-group-addon">Password</span>
    <input type="password" class="form-control" name="password">
  </div><br/>

  <div>
    <input type="submit" value="Submit" class="btn btn-default">
  </div>
  
</form>

</div>