<div class="container" style="padding-top: 30px;">

<h1>Ideafy - Thanks</h1>

<p>Thanks for joining the site!</p>

This is a perfect time to <p><a href="/ideas/new">Post Your Idea</a></p>

Or, <a href="/">View Ideas</a> that others have posted!

<p>If you have any questions or would like to leave feedback, please email us at <a href="#">info@ideafy.io</a></p>

<!-- <a href="/ideas/new">Click here to Post Your Idea</a> -->