<div class="container" style="padding-top: 150px;">

<% @ideas.each do |idea| %>
	<div class="idea">
		<h3><a href="/ideas/<%= idea.id %>"><%= idea.title %></a></h3><small>(by: <%= User.find(idea.user_id).username %>)</small>
	</div>
<%end%>

</div>